<style type="text/css">
input.css_class
{
width: 30px;
height: 30px;
}
</style>

<%= form_for(queued_user) do |f| %>
  <% if queued_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(queued_user.errors.count, "error") %> prohibited this queued_user from being saved:</h2>

      <ul>
      <% queued_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Question, :style => "float:left"  %>
    <%= f.text_field :Question %>
  </div>

  <div class="field">
    <%= f.label :PeerHelp, :style => "float:left"  %> <%= f.check_box :PeerHelp, :class => "css_class" %>
  </div>

  <div class="actions">
    <%= f.submit "Add to Queue", class: "btn btn-default" %>
    <%=link_to 'Back', queued_users_path, class: "btn btn-default"%>
  </div>

<% end %>
