<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @queued_user.Name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @queued_user.Question %>
</p>

<p>
  <strong>Status:</strong>
  <%= @queued_user.Status %>
</p>

<p>
  <strong>Peerhelp:</strong>
  <%= @queued_user.PeerHelp %>
</p>

<%= link_to 'Edit', edit_queued_user_path(@queued_user) %> |
<%= link_to 'Back', queued_users_path %>
