<p id="notice"><%= notice %></p>
<head>
<link rel="stylesheet" href="app/assets/stylessheets/queued_users.css">
</head>

<h1>Queued Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time Added</th>
      <th>Question</th>
      <th>Status</th>
      <th colspan=4></th>
    </tr>
  </thead>

  <tbody>
    <% @queued_users.each do |queued_user| %>
      <tr>
        <td><%= queued_user.Name %></td>
        <td><%= queued_user.created_at.strftime("%r") %></td>
        <td><%= queued_user.Question %></td>
        <td><%= queued_user.Status %></td>
        <td><%= button_to "Help", users_help_path(foo_param: queued_user), method: :post %><td>
        <td><%= link_to 'Show', queued_user %></td>
        <td><%= queued_user.DbID %></td>
        <% if queued_user.DbID == session[:user_id] %>
        <td><%= link_to 'DESTROY', queued_user, method: :delete, data: {confirm: "are you sure m8?"}%></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<% if current_user && current_user.instructor? %>
<body>
<h1>I'm an instructor</h1>
</body>
<% end %>

<% if current_user && current_user.ta? %>
<body>
<h3>I'm a TA</h3>
</body>
<% end %>

<% if current_user && current_user.student? %>
<body>
<h3>I'm a student</h3>
</body>
<% end %>

<%= link_to 'Logout', logout_path, method:'delete' %>

<% if current_user && current_user.student? %>
<%= link_to 'Add Self to Queue', new_queued_user_path %>
<% end %>
