<head>
  <style type="text/css">
p{
  text-align: center;
}
.button{
  text-align: center;
}
</style>
</head>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @queued_user.Name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @queued_user.Question %>
</p>

<p>
  <strong>Status:</strong>
  <%= @queued_user.Status %>
</p>

<p>
  <strong>Do you want Peer Help?:</strong>
  <%= @queued_user.PeerHelp %>
</p>
<div class="button">
<%= button_to 'Back', users_finishHelping_path(foo_param: @queued_user), class: "btn btn-default", method: :post %>
</div>
